.ch-index {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.ch-index-icon {
  width: 94px;
  padding-right: 16px;
}

.Block--headline {
  margin-bottom: 16px;
}

.Block--headline div {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 20px;
}

.Block--subline div {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.u-radius--small {
  border-radius: 2px;
}

.u-radius--big {
  border-radius: 6px;
}

.Index-title {
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 32px;
}