.Inspiration {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Inspiration-intro .Headline,
.Inspiration-intro p {
  padding-bottom: 35px;
}

.Inspiration-intro p {
  font-size: 15px;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 569px){
  .Inspiration-intro {
    max-width: 33%;
    padding-right: 16px;
  }

  .Inspiration-categorie {
    padding-right: 90px;
    margin-right: 30px;
  }
}

.Inspiration-categorie {
  max-width: 270px;
}

.categorie-image {
  display: block;
  height: 100%;
  max-height: 215px;
  width: auto;
  margin-bottom: 38px;
}

.Inspiration-categorie .Headline {
  font-size: 20px;
  letter-spacing: 1.6px;
}

@media screen and (min-width: 959px) {
  .Inspiration-categorieIntro {
    width: 43%;
    margin-right: 175px;
  }
}

@media screen and (max-width: 569px) {
  .Inspiration-wrapContent,
  .Inspiration-wrapCategories {
    flex-wrap: wrap;
    justify-content: center;
  }

  .Inspiration-categorieIntro {
    margin-bottom: 17px;
  }

  .Inspiration-categorieIntro .Headline {
    margin-bottom: 17px;
  }

  .Inspiration-categorie {
    margin-bottom: 40px;
  }

  .Inspiration-intro {
    width: 100%;
  }

  .Inspiration-wrapTeaser {
    width: 100%;
  }

  .Inspiration-wrapContent {
    flex-wrap: wrap;
  }
}

.Inspiration-wrapTeaser {
  display: flex;
  width: 100%;
  max-width: 70%;
}

.Inspiration-item {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}


.slider-inspiration .slick-list {
  padding-top: 67px;
}

.slider-inspiration .slick-prev,
.slider-inspiration .slick-next {
  bottom: -40px !important;
  top: initial !important;
}

.slider-inspiration .slick-prev {
    left: 60%;
    bottom: 20px;
}

.slider-inspiration .slick-next {
    right: 30%;
    bottom: 20px;
}