@import url("colors.css");
@import url("text.css");
@import url("display.css");
@import url("width.css");
@import url("fonts.css");
@import url("daterangepicker.css");
@import url("space.css");
@import url("headlines.css");
@import url("components/navigation.css");
@import url("components/button.css");
@import url("components/hero.css");
@import url("components/kooperation.css");
@import url("components/house-detail.css");
@import url("components/slick-slider/slick-theme.css");
@import url("components/slick-slider/slick.css");
@import url("components/teaser.css");
@import url("components/footer.css");
@import url("components/accordion.css");
@import url("components/search.css");
@import url("components/kalender.css");
@import url("components/inspiration.css");
@import url("components/forms.css");
@import url("components/table.css");
@import url("components/select.css");
@import url("components/ch-index.css");
@import url("components/events.css");
@import url("components/circle-animation.css");
@import url("components/discover.css");


li {
  list-style: none;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

p {
  font-size: 15px;
  letter-spacing: 1.5px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

text {
  color: var(--color-petrol);
}

h1 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}


button,
input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
  cursor: auto;
}

a:-moz-any-link {
  color: inherit;
  text-decoration: none;
  cursor: auto;
}

a:any-link {
  color: inherit;
  text-decoration: none;
  cursor: auto;
}

ul {
  -webkit-margin-before: 0 !important;
          margin-block-start: 0 !important;
  -webkit-margin-after: 0 !important;
          margin-block-end: 0 !important;
}

a:-webkit-any-link {
  cursor: pointer;
}

a:-moz-any-link {
  cursor: pointer;
}

a:any-link {
  cursor: pointer;
}