.u-widthFull {
  width: 100%;
}

.u-max-widthSmall {
  max-width: 960px;
  margin: 0 auto;
}

.u-max-width12of12 {
  max-width: 1200px;
}

.u-width1of2 {
  width: 50%;
}

@media screen and (min-width: 570px) {
  .u-m-width1of2 {
    max-width: 50%;
    width: 100%;
  }
}

@media screen and (min-width: 970px) {
  .u-l-width1of2 {
    max-width: 50%;
    width: 100%;
  }
}

.u-width1of4 {
  max-width: 25%;
}

@media screen and (min-width: 570px) {
  .u-m-width1of4 {
    max-width: 25%;
  }

  .u-m-width1of6 {
    max-width: 16.67%;
  }
}

@media screen and (min-width: 970px) {
  .u-l-width1of2 {
    max-width: 50%;
  }

  .u-l-width1of4 {
    max-width: 25%;
  }

  .u-l-width2of3 {
    max-width: 66%;
  }

  .u-l-width1of3 {
    max-width: 33%;
  }

  .u-l-width1of6 {
    max-width: 15.67%;
  }
}